extends ../includes/base

block content

  section.hero
    .container: .row
      .hero-text.text-center
        h1.mb-0.mt-30.mt-xs-60 Not just a better CMS
        h6.subheading.mt-0 How about a simple, super easy to use CMS that adapts to your workflow?
        a.btn.btn-lg.mt-30 START USING IT NOW
    .mountain-1(data-stellar-ratio="0.8")
    .mountain-2(data-stellar-ratio="0.5")

  section.sad-penguin.bg-dark.pt-80.pt-sm-120.pt-xs-80.pb-80.pb-sm-30
    .arrow-down
    .container: .row
      .col-md-6.col-md-offset-1.col-sm-7
        h2.text-white.mt-140.mt-md-80.mt-sm-0 Are you frustated with your current CMS?
        p.text-large.text-white.mt-30.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .col-sm-5.col-sm-offset-0.col-xs-8.col-xs-offset-2.text-center.mt-xs-40
        img(src=asset('/img/sad-penguin.svg'))

  section.super-penguin.pt-140.pt-md-100.pt-sm-60.pt-xs-40.pb-140.pb-sm-120.pb-xs-80
    .container: .row.mt-140
      .col-sm-5.col-sm-offset-0.col-xs-8.col-xs-offset-2.mt-60.text-center
        img(src=asset('/img/super-penguin.svg'))
      .col-md-6.col-sm-7.col-xs-12.mt-60.mt-xs-0
        h2 A better way to build for web. But also much more.
        p.text-large.mt-30.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  section.penguin-way.bg-light.pt-140.pt-md-120.pt-sm-100.pt-xs-80.pb-40.pb-md-20.pb-xs-40
    .container
      .row
        .col-md-8.col-md-offset-2.text-center.mb-100.mb-sm-60
          h2 The way of the penguin
          p.text-large.
            We set out to create something more than just a better CMS. You will not be able to watch them do the observation dynamically. That would be nice but it just isn’t possible yet.
      ul.list-unstyled.row.text-center
        li.col-sm-6
          .row: .col-md-8.col-md-offset-2
            img(src=asset('/img/open-penguin.svg'))
            h4 OPEN &amp; FREE
            p.
              When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.
        li.col-sm-6
          .row: .col-md-8.col-md-offset-2
            img(src=asset('/img/easy-penguin.svg'))
            h4 TAKE IT EASY
            p.
              When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.
        li.col-sm-6
          .row: .col-md-8.col-md-offset-2
            img(src=asset('/img/enjoy-penguin.svg'))
            h4 ENJOY WHAT YOU DO
            p.
              When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.
        li.col-sm-6
          .row: .col-md-8.col-md-offset-2
            img(src=asset('/img/circle-penguin.svg'))
            h4 YOUR CIRCLE OF TRUST
            p.
              When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.
        li.col-sm-6
          .row: .col-md-8.col-md-offset-2
            img(src=asset('/img/improve-penguin.svg'))
            h4 IMPROVE YOURSELF
            p.
              When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.
        li.col-sm-6
          .row: .col-md-8.col-md-offset-2
            img(src=asset('/img/create-penguin.svg'))
            h4 CREATE MORE &amp; BETTER
            p.
              When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.

  section.how-it-works.pt-120.pt-md-100.pt-sm-80.pt-xs-60.pb-140.pb-xs-100
    .container
      .row
        .col-md-8.col-md-offset-2.text-center
          h2 See How It Works
        .browser.col-md-12.mt-40.mt-xs-20
          .browser-toolbar
            .browser-circle
            .browser-circle
            .browser-circle
          .content-wrapper

  section.get-started.pt-120.pt-md-100.pt-sm-80.pt-xs-60.pb-120.pb-md-100.pb-sm-80.pb-xs-60.text-white
    .container
      .row
        .col-md-8.col-md-offset-2.text-center.mb-60.mb-xs-40
          h3.text-white Start building with webdesign.io
          p.
            We set out to create something more than just a better CMS. You will not be able to watch them do the observation dynamically. That would be nice but it just isn’t possible yet.
      .row
        ul.list-unstyled.col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1
          li
            p.text-large
              | Use node.js version 6 or newer
          li
            p.text-large
              | Install the command-line tool
              br
              code.text-large npm install -g @webdesignio/cli
          li
            p.text-large
              code.text-large git clone https://github.com/webdesignio/website-boilerplate.git
          li
            p.text-large
              code.text-large cd website-boilerplate
          li
            p.text-large
              code.text-large npm install && npm install --global surge
          li
            p.text-large
              code.text-large webdesignio login https://webdesignio.de
          li
            p.text-large
              code.text-large surge login
          li
            p.text-large
              code.text-large cat ~/.netrc
          li
            p.text-large
              | and add the login data to ./.webdesigniorc.json, it should look like:
              br
              pre.text-large.
                {
                  "url": "https://webdesignio.de",
                  "id": "pa1nd",
                  "token": "...",
                  "config": {
                  "domain": "some_subdomain.surge.sh",
                  "surge": {
                  "email": "...",
                  "token": "..."
                },
                  "driver": "surge"

  section.features.bg-dark.pt-120.pt-md-100.pt-sm-80.pt-xs-60.pb-140.pb-md-120.pb-sm-100
    .container: .row.pb-100
      ul.list-unstyled.text-white
        li.col-sm-6.mb-60.mb-sm-40.mb-xs-20
          .row
            .col-sm-2
              .feature-icon.icon-draw.mt-10
            .col-md-8.col-sm-10
              h5.text-white EASY INLINE EDITING
              p.
                Buying the right telescope to take your love of astronomy to the next level is a big next step in the development of your passion for the stars.
        li.col-sm-6.mb-60.mb-sm-40.mb-xs-20
          .row
            .col-sm-2
              .feature-icon.icon-stopwatch.mt-10
            .col-md-8.col-sm-10
              h5.text-white SUPER FAST WEBSITES
              p.
                Buying the right telescope to take your love of astronomy to the next level is a big next step in the development of your passion for the stars.
        li.col-sm-6.mb-60.mb-sm-40.mb-xs-20
          .row
            .col-sm-2
              .feature-icon.icon-locked.mt-10
            .col-md-8.col-sm-10
              h5.text-white STABLE &amp; SECURE
              p.
                Buying the right telescope to take your love of astronomy to the next level is a big next step in the development of your passion for the stars.
        li.col-sm-6.mb-60.mb-sm-40.mb-xs-20
          .row
            .col-sm-2
              .feature-icon.icon-help.mt-10
            .col-md-8.col-sm-10
              h5.text-white EASY TO SET UP
              p.
                Buying the right telescope to take your love of astronomy to the next level is a big next step in the development of your passion for the stars.
        li.col-sm-6.mb-60.mb-sm-40.mb-xs-20
          .row
            .col-sm-2
              .feature-icon.icon-interface.mt-10
            .col-md-8.col-sm-10
              h5.text-white INFINITELY CUSTOMIZABLE
              p.
                Buying the right telescope to take your love of astronomy to the next level is a big next step in the development of your passion for the stars.
        li.col-sm-6.mb-60.mb-sm-40.mb-xs-20
          .row
            .col-sm-2
              .feature-icon.icon-graphic.mt-10
            .col-md-8.col-sm-10
              h5.text-white SCALEABLE
              p.
                Buying the right telescope to take your love of astronomy to the next level is a big next step in the development of your passion for the stars.

block scripts

  script(src=asset("js/vendor/jquery.stellar.js"))
  script.
    $(function(){
      $.stellar({ responsive: true });
    });
