extends ../includes/base

block content

  section.hero.hero-inner
    .container: .row
      .hero-text.text-center.pt-60.pb-40.col-md-8.col-md-offset-2
        h1.mb-0.mt-30.mt-xs-60(data-component='Inplace' data-props='{"name":"title"}') Become a Penguin
        h6.subheading.mt-0(data-component='Inplace' data-props='{"name":"title2"}') The starter product that includes everything you need. Prepare your website. Include all components you need. Bring it online. Change it online. Deploy it to static files at *.surge.sh website.

  section.pricing-table
    .container
      .row
        .btn-switch.col-sm-4.col-sm-offset-4
          .row
            .btn.col-xs-6.active Yearly Plans
            .btn.col-xs-6 Monthly Plans

      .row.table-plans.pt-60
        .private.plan.col-sm-4.text-center
          h4 Private Penguin
          h2 Free
          .text &nbsp;
          ul.details.list-unstyled.text
            li <strong>1</strong> website
            li <strong>1</strong> content editor (user) per website
            li <strong>10mb</strong> database storage
            li <strong>100mb</strong> for assets
            li ×
          a.btn.btn-lg.mt-30 Sign Up
        .productive.plan.col-sm-4.text-center.featured
          h4 Productive Penguin
          h2 €49
          .text per month
          ul.details.list-unstyled.text
            li <strong>3</strong> website
            li <strong>3</strong> content editor (user) per website
            li <strong>10mb</strong> database storage
            li <strong>100mb</strong> for assets
            li ×
          a.btn.btn-lg.mt-30 Sign Up
        .powww.plan.col-sm-4.text-center
          h4 Powww Penguin
          h2 €500
          .text per month
          ul.details.list-unstyled.text
            li <strong>20</strong> website
            li <strong>20</strong> content editor (user) per website
            li <strong>20mb</strong> database storage
            li <strong>1000mb</strong> for assets
            li <strong>Super Service</strong>
          a.btn.btn-lg.mt-30 Sign Up

  section.sad-penguin.bg-dark.pt-80.pt-sm-120.pt-xs-80.pb-80.pb-sm-30
    .arrow-down
    .container: .row
      .col-md-6.col-md-offset-1.col-sm-7
        h2.text-white.mt-140.mt-md-80.mt-sm-0(data-component='Inplace' data-props='{"name":"content1h2"}') Are you frustated with your current CMS?
        p.text-large.text-white.mt-30(data-component='Inplace' data-props='{"name":"content1p"}').
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .col-sm-5.col-sm-offset-0.col-xs-8.col-xs-offset-2.text-center.mt-xs-40
        img(src=asset('/img/sad-penguin.svg'))

  section.super-penguin.pt-140.pt-md-100.pt-sm-60.pt-xs-40.pb-140.pb-sm-120.pb-xs-80
    .container: .row.mt-140
      .col-sm-5.col-sm-offset-0.col-xs-8.col-xs-offset-2.mt-60.text-center
        img(src=asset('/img/super-penguin.svg'))
      .col-md-6.col-sm-7.col-xs-12.mt-60.mt-xs-0
        h2(data-component='Inplace' data-props='{"name":"content2h2"}') A better way to build for web. But also much more.
        p.text-large.mt-30(data-component='Inplace' data-props='{"name":"content2p"}').
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  section.penguin-way.bg-light.pt-140.pt-md-120.pt-sm-100.pt-xs-80.pb-40.pb-md-20.pb-xs-40
    .container
      .row
        .col-md-8.col-md-offset-2.text-center.mb-100.mb-sm-60
          h2(data-component='Inplace' data-props='{"name":"way1"}') The way of the penguin
          p.text-large(data-component='Inplace' data-props='{"name":"way2"}').
            We set out to create something more than just a better CMS. You will not be able to watch them do the observation dynamically. That would be nice but it just isn’t possible yet.
      ul.list-unstyled.row.text-center.values-container
        li.col-sm-6
          .row: .col-md-8.col-md-offset-2
            img(src=asset('/img/open-penguin.svg'))
            h4(data-component='Inplace' data-props='{"name":"way3"}') OPEN &amp; FREE
            p(data-component='Inplace' data-props='{"name":"way4"}').
              When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.
              When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.
        li.col-sm-6
          .row: .col-md-8.col-md-offset-2
            img(src=asset('/img/easy-penguin.svg'))
            h4(data-component='Inplace' data-props='{"name":"way5"}') TAKE IT EASY
            p(data-component='Inplace' data-props='{"name":"way6"}').
              When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.
              When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.
              When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.
        li.col-sm-6
          .row: .col-md-8.col-md-offset-2
            img(src=asset('/img/enjoy-penguin.svg'))
            h4(data-component='Inplace' data-props='{"name":"way7"}') ENJOY WHAT YOU DO
            p(data-component='Inplace' data-props='{"name":"way8"}').
              When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.
              When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.
              When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.
              When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.
              When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.

        li.col-sm-6
          .row: .col-md-8.col-md-offset-2
            img(src=asset('/img/circle-penguin.svg'))
            h4(data-component='Inplace' data-props='{"name":"way9"}') YOUR CIRCLE OF TRUST
            p(data-component='Inplace' data-props='{"name":"way10"}').
              When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.
              When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.
        li.col-sm-6
          .row: .col-md-8.col-md-offset-2
            img(src=asset('/img/improve-penguin.svg'))
            h4(data-component='Inplace' data-props='{"name":"way11"}') IMPROVE YOURSELF
            p(data-component='Inplace' data-props='{"name":"way12"}').
              When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.
              When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.
              When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.
        li.col-sm-6
          .row: .col-md-8.col-md-offset-2
            img(src=asset('/img/create-penguin.svg'))
            h4(data-component='Inplace' data-props='{"name":"way13"}') CREATE MORE &amp; BETTER
            p(data-component='Inplace' data-props='{"name":"way14"}').
              When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.

  section.how-it-works.pt-120.pt-md-100.pt-sm-80.pt-xs-60.pb-140.pb-xs-100
    .container
      .row
        .col-md-8.col-md-offset-2.text-center
          h2(data-component='Inplace' data-props='{"name":"how"}') See How It Works
        .browser.col-md-12.mt-40.mt-xs-20
          .browser-toolbar
            .browser-circle
            .browser-circle
            .browser-circle
          .content-wrapper

  section.get-started.pt-120.pt-md-100.pt-sm-80.pt-xs-60.pb-120.pb-md-100.pb-sm-80.pb-xs-60.text-white
    .container
      .row
        .col-md-8.col-md-offset-2.text-center.mb-60.mb-xs-40
          h3.text-white(data-component='Inplace' data-props='{"name":"start1"}') Start building with webdesign.io
          p(data-component='Inplace' data-props='{"name":"start2"}').
            We set out to create something more than just a better CMS. You will not be able to watch them do the observation dynamically. That would be nice but it just isn’t possible yet.
      .row
        ul.list-unstyled.col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1
          li
            p.text-large
              strong(data-component='Inplace' data-props='{"name":"start3"}') Use node.js version 6 or newer
          li
            p.text-large(data-component='Inplace' data-props='{"name":"start4"}')
              | Install the command-line tool
              br
              code.text-large npm install -g @webdesignio/cli
          li
            p.text-large(data-component='Inplace' data-props='{"name":"start5"}')
              | Get started
              br
              code.text-large webdesignio init mywebsite

  section.features.bg-dark.pt-120.pt-md-100.pt-sm-80.pt-xs-60.pb-140.pb-md-120.pb-sm-100
    .container: .row.pb-100
      ul.list-unstyled.text-white
        li.col-sm-6.mb-60.mb-sm-40.mb-xs-20
          .row
            .col-sm-2
              .feature-icon.icon-draw.mt-10
            .col-md-8.col-sm-10
              h5.text-white(data-component='Inplace' data-props='{"name":"feature1"}') EASY INLINE EDITING
              p(data-component='Inplace' data-props='{"name":"feature2"}').
                Buying the right telescope to take your love of astronomy to the next level is a big next step in the development of your passion for the stars.
        li.col-sm-6.mb-60.mb-sm-40.mb-xs-20
          .row
            .col-sm-2
              .feature-icon.icon-stopwatch.mt-10
            .col-md-8.col-sm-10
              h5.text-white(data-component='Inplace' data-props='{"name":"feature3"}') SUPER FAST WEBSITES
              p(data-component='Inplace' data-props='{"name":"feature4"}').
                Buying the right telescope to take your love of astronomy to the next level is a big next step in the development of your passion for the stars.
        li.col-sm-6.mb-60.mb-sm-40.mb-xs-20
          .row
            .col-sm-2
              .feature-icon.icon-locked.mt-10
            .col-md-8.col-sm-10
              h5.text-white(data-component='Inplace' data-props='{"name":"feature5"}') STABLE &amp; SECURE
              p(data-component='Inplace' data-props='{"name":"feature6"}').
                Buying the right telescope to take your love of astronomy to the next level is a big next step in the development of your passion for the stars.
        li.col-sm-6.mb-60.mb-sm-40.mb-xs-20
          .row
            .col-sm-2
              .feature-icon.icon-help.mt-10
            .col-md-8.col-sm-10
              h5.text-white(data-component='Inplace' data-props='{"name":"feature7"}') EASY TO SET UP
              p(data-component='Inplace' data-props='{"name":"feature8"}').
                Buying the right telescope to take your love of astronomy to the next level is a big next step in the development of your passion for the stars.
        li.col-sm-6.mb-60.mb-sm-40.mb-xs-20
          .row
            .col-sm-2
              .feature-icon.icon-interface.mt-10
            .col-md-8.col-sm-10
              h5.text-white(data-component='Inplace' data-props='{"name":"feature9"}') INFINITELY CUSTOMIZABLE
              p(data-component='Inplace' data-props='{"name":"feature10"}').
                Buying the right telescope to take your love of astronomy to the next level is a big next step in the development of your passion for the stars.
        li.col-sm-6.mb-60.mb-sm-40.mb-xs-20
          .row
            .col-sm-2
              .feature-icon.icon-graphic.mt-10
            .col-md-8.col-sm-10
              h5.text-white(data-component='Inplace' data-props='{"name":"feature11"}') SCALEABLE
              p(data-component='Inplace' data-props='{"name":"feature12"}').
                Buying the right telescope to take your love of astronomy to the next level is a big next step in the development of your passion for the stars.

block scripts

  script(src=asset('/js/vendor/jquery.stellar.js'))
  script.
    $(function(){
      $.stellar({ responsive: true });
    });
